{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

    {% block body %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}

        <button type="submit">{{ 'Add.Submit'|trans }}</button>
        {{ form_end(form) }}
{% endblock %}